@using ViewFun.Models
@model Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Model</title>
</head>
<body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>@Model.FirstName @Model.LastName</p>
        </div>
    
</body>
</html>
